<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İşlem Logları</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>İşlem Logları</h1>
    <table>
        <thead>
            <tr>
                <th>Log ID</th>
                <th>Müşteri ID</th>
                <th>Sipariş ID</th>
                <th>Müşteri Türü</th>
                <th>Ürün ID</th>
                <th>Ürün Miktarı</th>
                <th>Log Türü</th>
                <th>Sonuç</th>
                <th>Detaylar</th>
                <th>Tarih</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.LogID}}</td>
                <td>{{ log.CustomerID }}</td>
                <td>{{ log.OrderID }}</td>
                <td>{{ log.CustomerType }}</td>
                <td>{{ log.ProductID }}</td>
                <td>{{ log.Quantity }}</td>
                <td>{{ log.LogType }}</td>
                <td>{{ log.Result }}</td>
                <td>{{ log.LogDetails }}</td>
                <td>{{ log.LogDate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
